


$primary-c:#00b2d1;
$primary-c-2:#ff4e00;
$primary-c-t:#00abeff3;
$primary-c-bo:#999999;
$primary-c-bo-2:#d8d8d8;
$background-c-wh:#ffffff;
$background-c-2:#f9f9f9;


$menu-li-c:#565656;
$menu-li-h:#bbfffc;

$button-c:#24cf5f;

$text-c-head:#666666;
$text-c-pr:#393939;
$text-c-wh:#ffffff;
$text-c-wh-2:#f9f9f9af;


$f-bg-c:#1a1919;
$f-bo-c:#4d4d4d;
$f-text-c-head:#ffffff;
$f-text-c:#99a2ab;
$f-text-c-ho:rgb(73, 73, 73);
$f-text-c-pr:#99a2ab;



$text-sh: 3px 1px  5px  #0000009c;
$menu-sh: 0 1px 10px rgba(0, 0, 0, 0.06);
$card-sh:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
$card-sh-2:0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
$card-sh-3: 0 0 59px rgba(255, 77, 0, 0.397);
$primary-sh: 0 0 59px 0 rgba(0, 162, 255, 0.342);
$primary-sh-2:0px 0px 9px 3px rgba(0, 162, 255, 0.342);
$input-sh:0 2px 4px 0 rgba(0, 0, 0, 0.09);
$icon-sh:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);